#*
This file allows you to override and define new Velocity variables.
*#

#set ($register_url = "/register")

#set ($sign_in_url = "/login")

#set ($theme_style = $theme.getSetting("theme-style")+".css")

#set ($theme_vm = $theme.getSetting("theme-style")+"_portal_normal.vm")

