.portlet-body {
    background-color: transparent !important;
}
.file_manage_title {
    background: url(/opencps-ux-theme/css/../images/schemes/pointgtvt/frame_1/icon_capnhat.png) 0 center no-repeat;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    line-height: 60px;
    margin-bottom: 0 !important;
    float: left;
}
.payment-ld .lfr-search-container {
    margin-top: -1px;
}
.home-bb-search button{
	height: 60px;
background: none white;
box-shadow: none;
border-radius: 0 !important;
text-shadow: none;
border: 1px solid #ececec;
width: 125px;
}
.home-bb-search .btn.dropdown-toggle {
    background-color: white !important;
	color: #333 !important;
    border: 1px solid #ececec !important;
}
.opencps-theme.ux.home_bg .portlet-borderless-container{
	background: transparent !important;
}